# Entry Point
/index.php
# Log File
application/logs/*.log
application/logs/*.json
# User 
images/users/*.*
!images/users/no-photo.png
# Logo
images/logos/*.*
!images/logos/logo.png
# Berita
images/berita/*.*
!images/berita/index.html
# Galeri
images/galeri/*.*
!images/galeri/index.html
# System File
.DS_Store
# Temporary Log
tmp/*
!tmp/index.html

# Config
application/config/database.php
application/config/config.php